.fr {
	float:right;
}

.fl {
	float:left;
}

h1 {
	border-bottom: 1px solid gray;
	margin-bottom: 7px
}

#descr {
	width: 300px; 
	height: 120px; 
	background-color: #111; 
	padding: 15px; 
	color: #fff;
}

#other {
	width: 240px;
	height:120px;
	padding: 0 0 0 10px;
}
