body {
	background-color: #CCCCFF
}

.fl {
	float:left;
}

.clr {
	clear:both;
}

select {
	width: 200px;
}

#table {
	border-collapse: collapse;
	width: 700px
}

#table td, #table  th {
	border: 1px solid #000;
	
}
